Flask
flask_sqlalchemy
flask_migrate
flask_jwt_extended
flask_cors
pymysql
bcrypt
flask_socketio
eventlet
marshmallow
flask_limiter
openai
python-dotenv
pinecone-client
llama-index
llama-index-vector-stores-pinecone
langchain
transformers
redis

gTTS
